{% if include.width %}{% assign width = include.width %}{% else %}{% assign width = "640" %}{% endif %}
{% if include.height %}{% assign height = include.height %}{% else %}{% assign iheight = "360" %}{% endif %}
<div class="video-wrapper">
  {% case include.type %}
    {% when 'vimeo' %}
      <iframe id="vimeo" src="https://player.vimeo.com/video/{{ include.id }}?api=1&player_id=vimeo" width="{{ width }}" height="{{ height }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    {% when 'adobetv' %}
      <iframe title="AdobeTV Video Player" src="http://tv.adobe.com/embed/{{ include.id }}/" frameborder="0" allowfullscreen scrolling="no"></iframe>
    {% else %}
      <iframe width="{{ width }}" height="{{ height }}" src="//www.youtube.com/embed/{{ include.id }}" frameborder="0" allowfullscreen></iframe>
  {% endcase %}
</div>
