$iceberg-blue: #42B6CC; //taken from Adobe Illustrator Design File
$rocket-purple: #695899; //taken from Adobe Illustrator Design File
$white: #FFF;
$sphere-brown: #333;
$headingdarkgreen: #263A30;
* {
  margin:0;
  padding:0;
  -webkit-text-size-adjust:none;
}
html,body{
  height:100%;
}
img{
  border:none;
}
body{
  font-family:source-sans-pro, Helvetica, Arial, sans-serif, sans-serif;
  font-size:18px;
  margin-top:90px;
}
h1,h2,h3,h4,h5,h6{
  font-size:100%;
  font-weight:300;
}
h1{
  font-size:4em;
  font-weight:500;
  letter-spacing:-.05em;
}
h2{
  font-size:2.2em;
  }
h3{
  font-size:1.4em;
  }
h4{
  font-size:1.8em;
  font-weight:200;
  }
p{
  margin:.5em 0 1.2em;
  font-weight:300;
  line-height:1.6em;
  color:#777;
  }
b{
  font-weight:500;
  color:#25382f;
  }
li{
  font-weight:300;
  line-height:1.6em;
  }
ul,ol{
  padding-left:3em;
}
ul li,ol li{
  color:#777;
}
ul li{
  list-style:disc;
}
a{
  color:$headingdarkgreen;
  text-decoration:none;
  }
a img{
  float: left;
  margin-top: -12px;
  margin-left: -10px;
  width: 60px;
  height: 60px;
}


a:hover{
  color:#00a99d;
    }
hr{
  clear:both;
  border:none;
  border-top:1px solid #eee;
  margin:0 auto;
  width:80%;
  max-width:1200px;
  }
.wrap{
  width:80%;
  max-width:1200px;
  margin:0 auto;
  position:relative;
      }
.saw:after{
  right:2%;
  left:auto;
  bottom:-60px;
  content:'';
  position:absolute;
  border-top:60px #fff solid;
  border-left:transparent 60px solid;
  border-right:transparent 60px solid;
  z-index:2;
      }
section{     // the default "" section for
  position:relative;
      }
section .wrap{
  min-height:200px;
  padding:80px 0;
  width:55%;
  padding-right:25%;
      }
section .wrap .insert{
  position:absolute;
  top:60px;
  right:0%;
  width:33%;
  max-width:250px;
      }
section .wrap .insert.large{
  top:40px;
  right:-12.5%;
  width:40%;
  max-width:400px;
      }
section .wrap.reverse{
  padding-right:0;
  padding-left:25%;
        }
section .wrap.reverse .insert{
  right:auto;
  left:0%;
        }
section .wrap.reverse .insert.large{
  left:-13%;
        }
section .wrap.center{
  text-align:center;
  min-height:130px;
  margin-top:40px;
        }
section .wrap.full{
  padding-right:0;
  padding-left:0;
  width:80%;
          }
section .wrap.short{
  padding-top:40px;
  padding-bottom:20px;
  min-height:70px;
          }
.primary{  //class that the 'hero id ' section is in
  background:$iceberg-blue;
  color:#fff;
  background-repeat:no-repeat;
  background-position:50% 10%;
}
.primary p{
  color:#fff;
            }
.primary p a{
  color:#fff;
  font-weight:500;
            }
.primary .saw:after{
  left:2%;
  right:auto;
  bottom:-60px;
  content:'';
  position:absolute;
  border-top:60px $white solid;
  border-left:transparent 60px solid;
  border-right:transparent 60px solid;
  z-index:2;
            }
.sofast{  //rocket purple goes here, soooo fast section
  background:$rocket-purple;
  color:#fff;
            }
.sofast p{
  color:#fff;
            }
.sofast p a{
  color:#fff;
  font-weight:500;
            }
.sofast .saw:after{
  left:2%;
  right:auto;
  bottom:-60px;
  content:'';
  position:absolute;
  border-top:60px $rocket-purple solid;
  border-left:transparent 60px solid;
  border-right:transparent 60px solid;
  z-index:2;
            }
.design{  //design section, iceberg blue, trees
  background:$iceberg-blue;
  color:#fff;
                        }
.design p{
  color:#fff;
                        }
.design p a{
  color:#fff;
  font-weight:500;
                        }
.design .saw:after{
  left:2%;
  right:auto;
  bottom:-60px;
  content:'';
  position:absolute;
  border-top:60px #ea7373 solid;
  border-left:transparent 60px solid;
  border-right:transparent 60px solid;
  z-index:2;
                        }
.bem{  //sphere brown goes here, bem / css section
  background:$sphere-brown;
  color:#fff;
                        }
.bem p{
  color:#fff;
                        }
.bem p a{
  color:#fff;
  font-weight:500;
                        }
.bem .saw:after{
  left:2%;
  right:auto;
  bottom:-60px;
  content:'';
  position:absolute;
  border-top:60px #ea7373 solid;
  border-left:transparent 60px solid;
  border-right:transparent 60px solid;
  z-index:2;
                        }
.reverse{
  padding-left:37.5%;
  padding-right:0;
            }
header{
  position:fixed;
  height:90px;
  background:#fff;
  //background:rgba(255,255,255,0.9);
  left:0;
  right:0;
  top:0;
  z-index:99;
            }
.header:after{
  content:'';
  position:absolute;
  left:0;
  bottom:-2px;
  right:0;

            }
header.wrap{
  padding:28px 0 10px;
            }
header.a{
  color:#25382f;
  font-size:1em;
  // -webkit-transition:color .2s linear;
  // -moz-transition:color .2s linear;
  // -ms-transition:color .2s linear;
  // -o-transition:color .2s linear;
  // transition:color .2s linear;
            }
header.logo{
  float:left;
  line-height:36px;
  float:left;
  margin-top:-12px;
  margin-left:-10px;
  width:60px;
  height:60px;
            }
header .logo .header{
  letter-spacing:-.05em;
  font-size:2em;
  font-weight:300;
              }
header nav{
  float:right;
              }
header nav a{
  margin-left:40px;
  font-weight:400;
  font-size:.9em;
              }
header nav .bt{
  color:#fff;
  // -webkit-transition:background-color .2s linear;
  // -moz-transition:background-color .2s linear;
  // -ms-transition:background-color .2s linear;
  // -o-transition:background-color .2s linear;
  // transition:background-color .2s linear;
              }
footer{
  clear:both;
  min-height:100px;
  border-top:1px
  solid #eee;
                }
footer .wrap{
  padding:40px 0;
  font-size:.8em;
  color:#777;
                }
footer nav
          {
  text-align:center;
          }
footer nav a{
  width:64px;
  height:64px;
  //background-color:#777;
  //-webkit-transition:background-color .2s linear;
  // -moz-transition:background-color .2s linear;
  // -ms-transition:background-color .2s linear;
  // -o-transition:background-color .2s linear;
  // transition:background-color .2s linear;
  display:inline-block;
  margin:0 70px;
  // -webkit-background-size:cover;
  // -moz-background-size:cover;
  // -o-background-size:cover;
  background-size:cover;
  overflow:hidden;
  position:relative;
                }
footer nav a.adobe-logo{
  background-image:url('../assets/adobe-icon.svg');
               }
footer nav a.github-logo{
  background-image:url('../assets/github-icon.svg');
                }
footer nav a.twitter-logo{
  background-image:url('../assets/twitter-icon.svg');
                }
footer nav a:hover{
  background-color:#09b39c;
                }
footer nav a:hover.twitter-logo{
  background-color:#2ba9e1;
                }
footer nav a:hover.adobe-logo{
  background-color:#ed1c24;
                }
.bt{
  background:$rocket-purple;
  display:inline-block;
  color:#fff;
  padding:4px 20px;
  text-align:center;
  border-bottom:$headingdarkgreen 2px solid;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-borderradius:5px;
  -webkit-transition:background-color .2s linear;
  -moz-transition:background-color .2s linear;
  -ms-transition:background-color .2s linear;
  -o-transition:background-color .2s linear;
  transition:background-color .2s linear;
                }
.bt:hover{
  color:#fff;
  background-color:#0acbb1;
                }
.largebutton{
  font-size:1.5em;
  padding:5px 20px;
  border-radius:8px;
  -moz-border-radius:8px;
  -webkit-borderradius:8px;
                }
.bt .sub-text{
  margin-top:-.5em;
  display:block;
  font-size:.5em;
                }
.hero{  //ID of initial blue iceberg sectiono

  background-repeat:no-repeat;
  background-position:40% 50%;
                  }
.hero section{
  padding:160px 0 40px;
}
.hero .wrap img.insert{
  top:50px;
                    }
.get-topcoat{  //last section, white with purple mountain
  padding:40px 0;
  background:url('../assets/mountain.svg') no-repeat -650px 0;
                    }
.get-topcoat .wrap{
  z-index:2;
                      }
.get-topcoat h2{
  margin-right:20px;
  display:inline-block;
                      }
